.artist-main {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  gap: 32px;
  color: #2a2925;
}

.artist-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  /* height: 100%; */
}

.artist-header-img {
  height: 400px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 2px;
}

.artist-header-info {
  width: 100%;
  display: flex;
  gap: 32px;
}

.artist-header-text {
  font-size: 60px;
  color: #2a2925;
}

.artist-body {
  width: 100%;
  font-size: 40px;
}

.artist-button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 60px;

  color: #2a2925;
}

.artist-icon {
  font-size: 40px;
}

.artist-liked {
  color: #f1bc00;
}
