.player-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.player-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.player-timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 400px;
}

.player-play {
  font-size: 40px;
  color: #f1bc00;
}

.player-pause {
  font-size: 40px;
  color: #7f7f7f;
}

.player-seek {
  font-size: 24px;
}

.position-base {
  display: flex;
  gap: 0;
  align-items: center;
  grid-column: 1;
  grid-row: 1;
  position: relative;
  width: 320px;
  height: 4px;
  background-color: #7f7f7f;
  border-radius: 10px;
}

.position-btn-inc {
  height: 24px;
  width: 100px;
}

.position-current {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  width: 70%;
  background-color: #f1bc00;
  transition: width 0.1s ease;
  pointer-events: none;
}
