
.AlbumCard {
    width: 190px;
    height: 240px;
    border-style: solid;
}

.AlbumGrid {
    display: grid;
    grid-auto-flow: column;
    border-style: solid;
}

.AlbumCardHolder {
    display: flex;
    width: 1000px;
    height: 480px;
    border-style: solid;
    align-items: center;
    align-self: right;
    
}