.page-browse-genre {
  display: flex;
  flex-direction: column;
  color: #2a2925;
  width: 100%;
}
.genre-featured-songs {
  display: flex;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 32px;
}

.genre-featured-left {
  background-color: #2a2925;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  padding: 16px;
  width: 240px;
  font-size: 24pt;
}

.featured-songs {
  width: 100%;
}
