.app {
  display: flex;
}

.content-container {
  width: 100%;
  height: calc(100vh - 100px);
  overflow: scroll;
  padding: 32px 48px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.content-container p {
  font-size: 100px;
}
