.app {
  display: flex;
  /* align-items: center; */
}

.content-container {
  width: 100%;
  height: calc(100vh - 100px);
  overflow: scroll;
  padding: 32px 48px;
  display: flex;
  justify-content: center;
  scrollbar-track-color: blue;
}

.content-container p {
  font-size: 100px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 15px;
  color: #ddd;
}

::-webkit-scrollbar-corner {
  width: 15px;
  color: #ddd;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  color: blue;
}
