.player-volume {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.player-volume hr {
  border: none;
  height: 4px;
  border-radius: 10px;
}

.volume-slider {
  display: grid;
  /* cursor: pointer; */
}

.volume-base {
  display: flex;
  gap: 0;
  align-items: center;
  grid-column: 1;
  grid-row: 1;
  position: relative;
  width: 160px;
  height: 4px;
  background-color: #7f7f7f;
  border-radius: 10px;
}

.volume-btn-inc {
  height: 24px;
}


.volume-position {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  width: 70%;
  background-color: #f1bc00;
  transition: width 0.1s ease;
  pointer-events: none;
}
